
.fullItem__header__priceD {
  position: relative;
  bottom: 8px;
  font-size: 12px;
}

.fullItem__header__priceB {
  font-size: 25px;
}

.fullItem__header__priceM {
  position: relative;
  bottom: 8px;
  font-size: 12px;
}

.fullItem__container {
  min-width: 1000px;
  max-width: 1500px;
  margin-bottom: 100px!important;
  margin: 0 auto;
  .fullItem__cat {
    display: inline-block;
    font-size: 12px;
    margin-left: 50px;
    padding-top: 5px;
    margin-bottom: 15px;
    color: #565959 !important;
  }

  .fullItem__header__price {
    padding-left: 50px;

  }



  .fullItem__cat:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .fullItem__Header {
    padding: 3px 3px;
    background-color: rgba(135, 149, 150, .15);
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    .fullItem__header__cont {
      display: flex;
      align-items: center;
      min-width: 1100px;
      max-width: 1500px;
      font-size: 12px;


      .fullItem__img2 {
        padding-left: 100px;
      }

      .fullItem__header__button {
        margin-left: 100px;
        background: linear-gradient(#fee6b0, #eeba37);
        border: 1px solid;
        border-radius: 3px;
        border-color: #be952c #a68226 #9b7924;
        line-height: 27px;
        min-height: 29px;
        padding: 0 10px 0 11px;
        cursor: pointer;
      }

      .fullItem__header__button:hover {
        background: linear-gradient(#fede97, #ecb21f);
        border-color: #a98527 #917221 #86691f;
      }
    }

    .fullItem__img1 {
      padding-left: 150px;
      padding-right: 100px;
    }

    img {
      height: 50px;
    }
  }

  .fullItem__mainInfo {
    display: flex;
    width: 97%;
    padding-bottom: 40px;
    .fullItem__photo {
      margin-right: 20px;
    }

    .fullItem__info {

      .aboutName {
        font-size: 14px;
        font-weight: 700;
        margin-top: 10px;
      }
      .aboutItem {
        padding-left: 20px;
        font-size: 14px;
      }
      .fullItem__name {
        font-size: 24px;
        line-height: 32px;
      }
      .fullItem__listPrice {
        color: #565959;
        font-size: 12px;
        .listPrice {
          text-decoration: line-through;
        }
      }
      .fullItem__visit {
        color: #007185;
        font-size: 14px;
      }

      .fullItem__visit:hover {
        text-decoration: underline;
        cursor: pointer;
        color: #C7511F;
        font-weight: 500;
      }

      .fullItem__infoRating {
        display: flex;
        align-items: center;

        .fullItem__ratings {
          color: #007185;
          font-size: 14px;
          padding-left: 19px;
        }

      }
      .fullItem__styleSize {
        padding-top:10px;
        .fullItem__style__block {
          color: #0F1111;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 10px;
          .fullItem__style {
            .fullItem__style__name__block {
              padding-bottom: 10px;
            }
            .fullItem__style__name {
              font-weight: 400;
              color: #555!important;
            }
            .fullItem__style__option {
              padding-left: 0px;
              .fullItem__style__option__elem{
                font-weight: 400;
                border-radius: 2px;
                margin-bottom: 5px;
                margin-right: 10px;
                border: 1px solid #D5D9D9;
                padding: 5px 10px;
                display: inline-block;
              }
              .fullItem__style__option__active {
                font-weight: 400;
                border-radius: 2px;
                margin-bottom: 5px;
                margin-right: 10px;
                border: 1px solid #e77600;
                padding: 5px 10px;
                display: inline-block;
              }
              .fullItem__style__option__elem:hover {
                background-color: #F7FAFA;
                cursor: pointer;
              }
            }
          }
        }
      }
    }


    .fullItem__price {
      display: flex;
      flex-direction: column;
      padding-top: 12px;
      .fullItem__price__sale {
        display: flex;
        .fullItem__discount {
          font-size: 22px;
          color: #CC0C39;
          font-weight: 300!important;
          padding-right: 5px;
          padding-top: 3px;
        }
      }
    }
    .fullItem__buy {
      margin-left: 50px;

      .buy__block {
        border: 1px #D5D9D9 solid;
        border-radius: 8px;
        padding: 20px 20px;
        width: 180px;
        font-size: 13px;
        line-height: 20px;
        .buy__det {
          color: #007185;
        }
        .buy__det:hover {
          text-decoration: underline;
          color: #C7511F;
          cursor: pointer;
        }
        .buy__text__bold {
          font-weight: 700;
        }
        .buy__text__1 {
          margin-top: 10px;
        }
        .buy__text__2 {
          margin-top: 10px;

        }
        .buy__text__3 {
          margin-top: 15px;
          font-size: 12px;
        }
        .buy__text__4 {
          margin-top: 5px;
          color: #B12704;
          font-size: 18px;
        }
        .buy__text__5 {
          background: #FFD814;
          margin-top: 10px;
          padding: 5px 40px;
          border-radius: 20px;
          text-align: center;
        }
        .buy__text__5:hover {
          cursor: pointer;
          background: #F7CA00;
        }
        .buy__text__6 {
          margin-top: 10px;
        }
        .buy__text__7 {
          margin-top: 10px;
          font-size: 11px;
        }
        .buy__text__8 {
          margin-top: 10px;
        }

      }
    }
  }
  .question {
    padding-left: 20px;
    padding-top: 30px;
    .title__q {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
    }
    .small__q {
      margin-bottom: 8px!important;
      color: #565959!important;
      font-size: 12px!important;
      line-height: 16px!important;
      margin-top: 10px;
    }
    .input__q {
      background-color: #fff;
      height: 25px;
      width: 40%;
      border: 1px solid #888C8C;
      border-radius: 3px;
      box-shadow: 0 1px 2px rgb(15 17 17 / 15%) inset;
      outline: 0;
      padding-left: 29px;
      padding-right: 25px;
    }
    .input__q:focus {
      background-color: #F7FEFF;
      border-color: #007185;
      box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgb(15 17 17 / 15%) inset;
    }
  }
}

.fullItem__line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #D5D9D9;;
}