
.login__container {
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .login__image {
    margin-top: 20px;
    background-position: -5px -130px;
    height: 31px;
    width: 103px;
    background-image: url(https://m.media-amazon.com/images/S/sash/mPGmT0r6IeTyIee.png);
  }

  .login__block {
    display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
    width: 300px;
    margin-top: 15px;
    padding: 20px 26px;

    .login__header__text {
      display: block;
      font-weight: 400;
      font-size: 28px;
      line-height: 1.2;
      margin-bottom: 12px;
    }

    .login__header__email {
      font-size: 13px;
      margin-bottom: 15px;
    }

    .login__header__change {
      text-decoration: none;
      color: #0066c0;
      padding-left: 5px;
    }

    .login__header__change:hover {
      text-decoration: underline;
      cursor: pointer;
      color: #c45500;
    }

      .login__email {
      display: block;
      font-size: 13px;
      line-height: 19px;
      color: #111;
      font-weight: 700;
      padding-bottom: 2px;
      padding-left: 2px;
    }

    .login__input__div {
      width: 100%;
      margin-bottom: 14px;
      .login__input {
        display: block;
        width: 95%;
        border: 1px solid #a6a6a6;
        border-top-color: #949494;
        box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
        padding: 3px 7px;
        height: 23px;
        border-radius: 3px;
        outline: 0;
      }
      .login__input:focus {
        border-color: #e77600;
        box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
      }
      .login__input:focus-visible {
        border-color: #e77600;
        box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
      }
    }

    .login__button {
      color: black;
      text-decoration: none;
      display: block;
      background-color: #f0c14b;
      text-align: center;
      cursor: pointer;
      font-size: 13px;
      padding: 7px;
      border-radius: 3px;
      border: 1px solid #a88734;
      width: 100%;
    }

    .login__button:active {
      outline: 0;
      border-color: #e77600;
      box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
    }

    .login__policy {
      display: block;
      font-size: 12px!important;
      line-height: 1.5!important;
      margin-top: 18px;
    }

    .login__help {
      display: block;
      margin-top: 20px;
      color: #0066c0;
      font-size: 14px;
    }
    .login__help:hover {
      text-decoration: underline;
      cursor: pointer;
      color: #c45500;
    }
    .login__input__error {
      font-size: 12px;
      color: #c40000;
    }
    .login__icon__error {
      position: relative;
      top: 6px;
      left: 2px;
      height: 13px;
      width: 14px;
      background-position: -141px -130px;
      background-image: url(https://m.media-amazon.com/images/S/sash/mPGmT0r6IeTyIee.png);
      -webkit-background-size: 400px 750px;
      background-size: 400px 750px;
      background-repeat: no-repeat;
      display: inline-block;
      vertical-align: top;
    }
  }
  .login__registration {
    margin-top: 20px;
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
    width: 350px;
    .login__new{
      line-height: 1;
      font-size: 12px;
      color: #767676;
      font-weight: 400;
      z-index: 2;
      position: relative;
      display: inline-block;
      background-color: #fff;
      padding: 0 8px 0 7px;
    }
    .login__line{
      content: "";
      width: 100%;
      background-color: transparent;
      display: block;
      height: 1px;
      border-top: 1px solid #e7e7e7;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      z-index: 1;
    }

  }
  .login__button__reg {
     margin-top: 10px;
     background: #eff0f3;
     background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
     padding: 7px ;
    width: 340px;
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    color: black;
   }
  .login__button__reg:active {
    text-decoration: none;
    outline: 0;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
   }
  .login__header {
    margin-top: 25px;
    width: 1000px;
    text-align: center;
    font-size: 11px;
    .login__header__line {
      background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
      height: 44px;
      z-index: 0;
      zoom: 1;
    }
    .login__header__line:after {
      display: block;
      width: 100%;
      height: 44px;
      background: linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
      z-index: 1;
      content: "";
    }
    .login__header__info {
      color: #0066c0;

      span {
        padding: 10px;
      }
      span:hover {
        text-decoration: underline;
        cursor: pointer;
        color: #c45500;
      }
    }

  }
  .login__header__block {
    margin-top: -19px;
  }
  .login__header__years {
     margin-top: 15px;
     color: #555;
   }
}